<form [formGroup]="form">
  <div class="mb-2">
    <ngx-bootstrap-multiselect
      class="txt-main p-0 no-border"
      [options]="this.language.get() == 'fr' ? fr : en"
      [formControlName]="this.question.label.en"
      [texts]="this.language.get() == 'fr' ? textFr : textEn"
      [settings]="settings"
      (blur)="onTouched()"
    ></ngx-bootstrap-multiselect>
    <app-validation-messages
      [question]="question"
      [form]="form"
    ></app-validation-messages>
  </div>

  <!-- <div class="form-val">
    {{ form.value | json }}
  </div>

  <div class="form-val">
    {{ form.valid | json }}
  </div> -->
</form>
