<form [formGroup]="form">
  <div class="row">
    <div class="col-12 mb-2" *ngIf="showGoogleAddress">
      <nz-input-group [nzPrefix]="suffixIconSearch">
        <input
          nz-input
          autocomplete="off"
          autocorrect="off"
          autocapitalize="none"
          spellcheck="false"
          ngx-google-places-autocomplete
          [options]="options"
          #placesRef="ngx-places"
          placeholder="{{ 'START_TYPING_ADDRESS' | translate }}"
          (onAddressChange)="handleAddressChange($event)"
        />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
      </ng-template>
      <span *ngIf="validateForm()" class="error-msg">{{
        "REQUIRED_FIELD" | translate
      }}</span>
    </div>
    <ng-container *ngIf="!showGoogleAddress">
      <div class="col-md-3 mb-2">
        <label for="Number">{{ "NUMBER" | translate }}</label>
        <input
          type="number"
          class="form-control"
          formControlName="Number"
          (blur)="onTouched()"
        />
        <span *ngIf="validateField('Number', 'required')" class="error-msg">{{
          "REQUIRED_FIELD" | translate
        }}</span>
      </div>
      <div class="col-md-9 mb-2">
        <label for="Street">{{ "STREET" | translate }}</label>
        <input
          type="text"
          class="form-control"
          formControlName="Street"
          (blur)="onTouched()"
        />
        <span *ngIf="validateField('Street', 'required')" class="error-msg">{{
          "REQUIRED_FIELD" | translate
        }}</span>
      </div>
      <div class="col-md-10 mb-2">
        <label for="City">{{ "CITY" | translate }}</label>
        <input
          type="text"
          class="form-control"
          formControlName="City"
          (blur)="onTouched()"
        />
        <span *ngIf="validateField('City', 'required')" class="error-msg">{{
          "REQUIRED_FIELD" | translate
        }}</span>
      </div>
      <div class="col-md-2 mb-2">
        <label for="Unit">{{ "UNIT" | translate }}</label>
        <input
          type="text"
          class="form-control"
          formControlName="Unit"
          (blur)="onTouched()"
        />
      </div>
      <div class="col-md-9 mb-2">
        <label for="Province">Province</label>
        <ngx-bootstrap-multiselect
          class="txt-main p-0 no-border"
          [options]="this.language.get() == 'fr' ? provFr : provEn"
          formControlName="Province"
          [texts]="this.language.get() == 'fr' ? textFr : textEn"
          [settings]="settings"
          (blur)="onTouched()"
        ></ngx-bootstrap-multiselect>
        <span *ngIf="validateField('Province', 'required')" class="error-msg">{{
          "REQUIRED_FIELD" | translate
        }}</span>
      </div>
      <div class="col-md-3 mb-2">
        <label for="PostalCode">{{ "POSTAL_CODE" | translate }}</label>
        <input
          class="form-control"
          formControlName="PostalCode"
          (blur)="onTouched()"
        />
        <span
          *ngIf="validateField('PostalCode', 'required')"
          class="error-msg pe-3"
          >{{ "REQUIRED_FIELD" | translate }}</span
        >
        <span
          *ngIf="
            this.form.controls.PostalCode.hasError('pattern') &&
            form.controls.PostalCode.touched
          "
          class="error-msg"
          >{{ "INVALID_POSTAL_CODE" | translate }}</span
        >
      </div>
    </ng-container>

    <span
      class="txt-main text-decoration-underline pointer ms-1"
      *ngIf="showGoogleAddress"
      (click)="showGoogleAddress = !showGoogleAddress"
      >{{ "DONT_FIND_ADDRESS" | translate }}</span
    >
    <span
      class="txt-main text-decoration-underline pointer ms-1"
      *ngIf="!showGoogleAddress"
      (click)="showGoogleAddress = !showGoogleAddress"
      >{{ "NOT_YOUR_ADDRESS" | translate }}</span
    >
  </div>

  <!-- <div class="form-val pt-5">
    {{ form.value | json }}
  </div>

  <div class="form-val">
    {{ form.valid | json }}
  </div> -->
</form>
