<form [formGroup]="form" class="mb-2">
  <input
    *ngIf="question.type !== 'password' && !question.unit"
    class="form-control"
    [type]="question.type"
    [min]="question.min"
    [max]="question.max"
    [minlength]="question.minLength"
    [maxlength]="question.maxLength"
    formControlName="{{ question.label.en }}"
    (blur)="onTouched()"
    [mask]="question.mask"
  />
  <nz-input-group
    *ngIf="question.type === 'password' || question.unit"
    [nzSuffix]="
      question.type === 'password'
        ? suffixPassword
        : question.unit.en === '$' && this.language.get() == 'en'
        ? ''
        : suffixUnit
    "
    [nzPrefix]="
      question.type !== 'password' &&
      question.unit.en === '$' &&
      this.language.get() == 'en'
        ? suffixUnit
        : ''
    "
  >
    <input
      nzValidateStatus="error"
      nz-input
      [type]="
        question.type === 'password' && hidePassword === false
          ? 'text'
          : question.type
      "
      [min]="question.min"
      [max]="question.max"
      [minlength]="question.minLength"
      [maxlength]="question.maxLength"
      formControlName="{{ question.label.en }}"
      (blur)="onTouched()"
      [mask]="question.mask"
    />
  </nz-input-group>
  <ng-template #suffixUnit>
    {{ language.get() == "fr" ? question.unit.fr : question.unit.en }}
  </ng-template>
  <ng-template #suffixPassword>
    <i
      nz-icon
      nzType="eye"
      nzTheme="outline"
      style="color: #004161"
      (click)="togglePasswordView()"
      *ngIf="hidePassword"
    ></i>
    <i
      nz-icon
      nzType="eye-invisible"
      nzTheme="outline"
      style="color: #004161"
      (click)="togglePasswordView()"
      *ngIf="!hidePassword"
    ></i>
  </ng-template>

  <app-validation-messages
    [question]="question"
    [form]="form"
  ></app-validation-messages>

  <!-- <div class="form-val">
    {{ form.value | json }}
  </div>

  <div class="form-val">
    {{ form.valid | json }}
  </div> -->
</form>
