/* *******  Reset  ******* */

input:focus,
textarea:focus,
select:focus {
  outline: none !important;
}

/* *******  Form Control  ******* */

.form-control,
.ant-input-affix-wrapper {
  padding: 0.5rem 0.75rem !important;
  border: 1px $greyBorder solid !important;
  border-radius: $inputRadius;
}

.form-control:focus,
.ant-input-affix-wrapper-focused,
.ant-input-affix-wrapper:focus {
  border: 1px solid $mainColor !important;
  box-shadow: $shadowInput !important;
  color: $mainColor !important;
}

.ant-input-affix-wrapper:hover,
.form-control:hover {
  border: 1px solid $mainColor !important;
  color: $mainColor !important;
}

// Invalid
.form-control.ng-invalid.ng-touched {
  border: $pink 1px solid !important;
}

.error-msg {
  color: $pink;
  padding-left: 0.25rem;
}

// Radio-button (Boolean)
.ant-radio-button-wrapper {
  color: $mainColor !important;
  height: 42px;
  padding: 0.3rem 1.2rem !important;
}

.ant-radio-button-wrapper-checked,
.ant-radio-button-wrapper:hover {
  color: $white !important;

  background-color: $mainColor !important;
  border: 1px solid $mainColor !important;
}

.ant-radio-button-wrapper:first-child {
  border-top-left-radius: $inputRadius !important;
  border-bottom-left-radius: $inputRadius !important;
}

.ant-radio-button-wrapper:last-child {
  border-top-right-radius: $inputRadius !important;
  border-bottom-right-radius: $inputRadius !important;
}

.ant-radio-button-wrapper:not(:first-child)::before {
  content: none;
}

// Date Picker

.ant-picker {
  padding: 0.5rem 0.75rem !important;
  width: 100%;
  color: $mainColor !important;
  border-radius: $inputRadius;
}

.ant-picker-focused,
.ant-picker:hover {
  border: 1px solid $mainColor !important;
}

.ant-picker-focused {
  box-shadow: $shadowInput !important;
}

.ant-picker.ng-dirty.ng-invalid {
  border: 1px solid $pink !important;
}

.dropdown-menu {
  width: 100%;
}

// Ant stepper
.ant-steps-item-icon.ng-star-inserted {
  top: -5px !important;
  position: relative;
  color: #1890ff;
  line-height: 1;
}

.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon {
  background: $mainColor;
}
.ant-steps-item-process .ant-steps-item-icon {
  background-color: #fff;
  border-color: $mainColor;
}
.ant-steps-item-finish .ant-steps-item-icon {
  background-color: #fff;
  border-color: $mainColor;
}

.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title::after,
.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  background-color: $mainColor;
}
