/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@import "~ng-zorro-antd/ng-zorro-antd.min.css";

// Variables
$mainColor: #004161;
$mainDisabled: #00416188;
$green: #639e30;
$orange: #f7aa36;
$blue: #3eaac4;
$pink: #d7488f;
$lime: #add04e;
$grey: #f2f2f2;
$greyBorder: #dddddd;
$white: #ffffff;
$shadowInput: 0 4px 8px hsl(0deg 0% 60% / 30%);
$inputRadius: 4px;

// Other imports
@import "./form.scss";

// Reset
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

// Utilities

.txt-main {
  color: $mainColor;
}

.pointer {
  cursor: pointer;
}

// Buttons
.btn-delete {
  background-color: $white;
  border: 1px solid $pink !important;
  border-radius: $inputRadius;
  color: $pink;
}

.btn-delete:hover {
  background-color: $pink;
  color: $white;
}

.btn-delete[disabled] {
  opacity: 0.5;
}

// Ant Buttons
.ant-btn {
  height: 42px;
  padding: 4px 20px;
  border-radius: 21px;
  border: 1px solid $mainColor;
  color: $mainColor;
}

.ant-btn:focus,
.ant-btn:hover {
  color: $white;
  background-color: $mainColor;
  border: 1px solid $mainColor;
}
.ant-btn[disabled],
.ant-btn[disabled]:active,
.ant-btn[disabled]:focus,
.ant-btn[disabled]:hover {
  color: $white;
  background-color: $mainDisabled;
  border: 1px solid $white;
}

// Hint

.ant-alert {
  border-radius: 4px;
}

.ant-alert-info {
  background-color: #e6f7ff;
  border: 1px solid $blue !important;
}

.ant-alert-info .ant-alert-icon {
  color: $blue !important;
}

.ant-alert-message {
  color: $blue !important;
}
